//this should only be imported into main.scss
/*padding*/
.spacing-pl-s {
  padding-left: 15px;
}
.spacing-pt-s {
  padding-top: 15px;
}
.spacing-pb-s {
  padding-bottom: 15px;
}
.spacing-pr-s {
  padding-right: 15px;
}

.spacing-pl-m {
  padding-left: 30px;
}
.spacing-pt-m {
  padding-top: 30px;
}
.spacing-pb-m {
  padding-bottom: 30px;
}
.spacing-pr-m {
  padding-right: 30px;
}

.spacing-pl-l {
  padding-left: 60px;
}
.spacing-pt-l {
  padding-top: 60px;
}
.spacing-pb-l {
  padding-bottom: 60px;
}
.spacing-pr-l {
  padding-right: 60px;
}

.spacing-pl-xl {
  padding-left: 120px;
}
.spacing-pt-xl {
  padding-top: 120px;
}
.spacing-pb-xl {
  padding-bottom: 120px;
}
.spacing-pr-xl {
  padding-right: 120px;
}

/*margin*/
.spacing-mb-s {
  margin-bottom: 15px;
}

.spacing-mb-m {
  margin-bottom: 30px;
}

.spacing-mb-l {
  margin-bottom: 60px;
}

.spacing-mt-s {
  margin-top: 15px;
}

.spacing-mt-m {
  margin-top: 30px;
}

.spacing-mt-l {
  margin-top: 60px;
}

.spacing-ml-s {
  margin-left: 15px;
}

.spacing-ml-m {
  margin-left: 30px;
}

.spacing-ml-l {
  margin-left: 60px;
}

.spacing-mr-s {
  margin-right: 15px;
}

.spacing-mr-m {
  margin-right: 30px;
}

.spacing-mr-l {
  margin-right: 60px;
}
