.categories-view{
    .img-container{
        background-color: lightgray;
        text-align: center;
        padding : 5px;
        border-radius: 5px;
        img{
            height: 50px;
            width: 50px;
        }        
    }
    .action-btn{
        width: 90px;
        padding: 5px;
    }
}