.categories-form{
    .drop-zone{
        height: 100px;
        background-color: lightgrey;
        border-radius: 5px;
        text-align: center;
        p{
            margin: auto;
        }
        
    }
    .logo{
        height: 100px;
        background-color: lightgrey;
    }
}